pyngrok==5.0.5
Werkzeug==2.0.1
spacy_universal_sentence_encoder==0.4.3
quickdraw==0.2.0
nltk==3.6.2
gevent==21.1.2
tika==1.24
Flask==2.0.1
requests==2.25.1
pandas==1.2.5
opencv_python==4.5.2.54
Pillow==8.3.2
scikit_learn==0.24.2
